body {
    background-color: #EEEEEE;
    color: #333333;
}

#main {
    width: 90%;
}

table {
    width: 100%;
}

h1 {
    text-align: center;
    width: auto;
}

.click {
    width: 20%;
    height: 4em;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px black solid;
    background-color: #80b0c8;
    padding: 5px;
}

.click:hover {
    background-color: #73a1b9;
}

#auto {
    width: 100px;
    height: 50px;
    background-color: #f3000d;
    border-radius: 5px;
    border: black 1px solid;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
}

#auto:hover {
    background-color: #e50010;
}

.center {
    margin: auto;
    text-align: center;
}

#delay {
    margin: 10px auto;
}